@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
body {
  text-align: center;
  background-color: #1e1e1e;
  color: #209b6a;
  font-family: "Roboto Mono", monospace;
}

.terminal {
  text-align: center;
  background-color: #000000;
  color: #5abdeb;
  box-shadow: 1px 1px #888888;
  font-family: "Roboto Mono", monospace;
}
